.element-hidden {
  display: none;
}

.app {
  display: flex;
  width: 60%;
  min-width: 900px;
  margin: auto;
}

section, form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 30px;
  border-radius: 5px;
  overflow: hidden;
}

.section-top {
  background-color: #ba5c4d;
  color: white;
  text-align: center;
}
.section-content {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 10px 0;
}

.section-content > * {
  margin: 10px;
  min-height: 28px;
}

.section-button {
  background-color: #ba5c4d;
  color: white;
  border: 0;
  font-size: 16px;
}

.form-warning {
  color: white;
  font-size: 16px;
  text-align: center;
  animation: blinking 5s infinite;
}

@keyframes blinking {
  0% {
    background: #d83;
  }
  25% {
    background: #d43
  }
  75% {
    background: #d43;
  }
  100% {
    background: #d83;
  }
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #aaa solid;
}

.task-info {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  width: 90%;
}

.task-message {
  text-align: center;
}

.task-priority {
  height: 28px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 5px;
  background-color: #a6b89c;
}

.task-checkbox {
  transform: scale(1.5);
}

.task-title--crossed {
  color: #aaa;
  text-decoration: line-through #aaa solid;
}

@media screen and (max-width: 1024px) {
  .app {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: unset;
    max-width: 550px;
  }
  .app > * {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0;
  }
}